IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "resetButton" 4;
//IO_LOC "userButton" 3;

IO_LOC "led[5]" 16;
IO_LOC "led[4]" 15;
IO_LOC "led[3]" 14;
IO_LOC "led[2]" 13;
IO_LOC "led[1]" 11;
IO_LOC "led[0]" 10;

IO_LOC "adcData[0]" 25;
IO_PORT "adcData[0]" IO_TYPE=LVCMOS33;
IO_LOC "adcData[1]" 26;
IO_PORT "adcData[1]" IO_TYPE=LVCMOS33;
IO_LOC "adcData[2]" 27;
IO_PORT "adcData[2]" IO_TYPE=LVCMOS33;
IO_LOC "adcData[3]" 28;
IO_PORT "adcData[3]" IO_TYPE=LVCMOS33;
IO_LOC "adcData[4]" 29;
IO_PORT "adcData[4]" IO_TYPE=LVCMOS33;
IO_LOC "adcData[5]" 30;
IO_PORT "adcData[5]" IO_TYPE=LVCMOS33;
IO_LOC "adcData[6]" 77;
IO_PORT "adcData[6]" IO_TYPE=LVCMOS33;
IO_LOC "adcData[7]" 76;
IO_PORT "adcData[7]" IO_TYPE=LVCMOS33;
IO_LOC "adcCs" 48;
IO_PORT "adcCs" IO_TYPE=LVCMOS33;
IO_LOC "adcClk" 49;
IO_PORT "adcClk" IO_TYPE=LVCMOS33;


IO_LOC "io11" 38; //11
IO_PORT "io11" IO_TYPE=LVCMOS33;
IO_LOC "io12" 37; //12
IO_PORT "io12" IO_TYPE=LVCMOS33;
//IO_LOC "io13" 36; //13
//IO_PORT "io14" IO_TYPE=LVCMOS33;
//IO_LOC "io15" 39; //14
//IO_PORT "io15" IO_TYPE=LVCMOS33;
//LCD stuff

IO_LOC "LCD_B[4]" 41;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_B[3]" 42;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_B[2]" 51;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_B[1]" 53;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_B[0]" 54;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[5]" 55;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[4]" 56;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[3]" 57;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[2]" 68;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[1]" 69;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_G[0]" 70;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[4]" 71;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[3]" 72;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[2]" 73;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[1]" 74;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_R[0]" 75;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33;
IO_LOC "LCD_DEN" 33;
IO_PORT "LCD_DEN" IO_TYPE=LVCMOS33;
IO_LOC "LCD_SYNC" 34;
IO_PORT "LCD_SYNC" IO_TYPE=LVCMOS33;
IO_LOC "LCD_HYNC" 40;
IO_PORT "LCD_HYNC" IO_TYPE=LVCMOS33;
IO_LOC "LCD_CLK" 35;
IO_PORT "LCD_CLK" IO_TYPE=LVCMOS33;